sentencepiece
transformers
mwxml
spacy
transformers
wikipedia
torch
flask
numpy
pt-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.3.0/pt_core_news_lg-3.3.0-py3-none-any.whl


